@font-face {
    font-family: 'irsans';
    font-weight: 300;
    src: url('./fonts/IRANSansWeb\(FaNum\)_Light.woff2');
}
@font-face {
    font-family: 'irsans';
    font-weight: 400;
    src: url('./fonts/IRANSansWeb\(FaNum\).woff2');
}
@font-face {
    font-family: 'irsans';
    font-weight: 500;
    src: url('./fonts/IRANSansWeb\(FaNum\)_Medium.woff2');
}
@font-face {
    font-family: 'irsans';
    font-weight: 600;
    src: url('./fonts/IRANSansWeb\(FaNum\)_Bold.woff2');
}
@font-face {
    font-family: 'irsans';
    font-weight: 700;
    src: url('./fonts/IRANSansWeb\(FaNum\)_Black.woff2');
}